@import url('https://fonts.googleapis.com/css?family=Raleway');
html, body {
    margin: 0;
    font: 20px Raleway, sans-serif;
}

h1#title {
    font-size: 3em;
    margin: 5%;
    font-weight: normal;
}

p {
    margin-left: 5%;
    width: 65%;
}

a {
    text-decoration: none;
    color: mediumpurple;
    transition: 0.8s ease all;
}

a:hover {
    color: purple;
}

canvas#bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 100%;
    bottom: 100%;
    z-index: -999;
}

#gitBtn {
    background: black;
    border: black;
    border-radius: 50%;
    margin: auto;
    padding: 3px;
    transition: 0.4s linear all;
    margin-left: 5%;
}

#gitBtn:hover {
    box-shadow: 0px 0px 5px 2px purple;
}

footer {
    margin-bottom: 4px;
    font-size: 12px;
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 0;
}
